*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}
:root{
	/*colore de los botones de navegacion y el borde*/
	/*--color:hsla(169, 59%, 0%, 0.10);*/
	--color:hsla(169, 0%, 68%, 0.23);
	--color-hover:hsla(169, 59%, 0%, 0.25);
	--color-head:rgba(0, 0, 0, 0.7);
	--color-h2:rgba(255, 126, 97, 1);
	--color-a:hsla(165, 66%, 59%, 0.3);
	--color-a-hover:hsla(162, 81%, 64%, 0.82);
	--color-backgorund:rgba(94, 94, 94, 1);
}
body{
	background: rgba(28, 28, 28, 0.95);
}
/*Grillas*/
.sect-1{
	grid-column: 2/8;
}
.sect-2{
	grid-column: 8/12;
}
.icon-back{
	grid-column: 4/5;
}
.icon-login{
	grid-column: 3/6;
}
.icon-home{
	grid-column: 5/9;
}
.icon-next{
	grid-column: 9/10;
}
.section-blog-princ{
	grid-column: 2/6;
}

#menico{
		position: absolute;
  	right: 380px;
  	top: 15px;
  	cursor: pointer;		
}
.icon-blog{
	grid-column: 7/9;
	width: 50px;
	margin: auto;
}
/*Media query*/
@media (min-width: 1030px){
	.sect-1{
		grid-column: 3/7;
	}
	.sect-2{
		grid-column: 7/11;
	}
}
@media (max-width: 800px){
	.sect-1{
		grid-column: 1/9;
	}
	.sect-2{
		grid-column: 9/13;
	}
	.host div{
		grid-column: 3/11;
	}
	.section-blog-princ{
		grid-column: 1/7;
		width: 90%;
		margin: 0 auto;
	}
	div.item-curso-colum1{
		grid-column: 1/7;
	}
	div.item-curso-colum2{
		grid-column: 7/13;
	}
	.icon-login{
		grid-column: 3/7
	}
	.social-network ul{
		display: none;
                transition-duration: 3s;
	}
	div #menu-share{
		display: block;
		bottom: -60px;
	}
	.head .social-network{
		position: absolute;
		top: 12vh;
	}
}
/*@media only screen and (max-width: 600px) and (min-width: 400px)  {...}*/
@media (max-width: 640px){
	.sect-1{
		grid-column: 2/12;
		grid-template-rows: 200px;
	}
	.sect-2{
		grid-column: 2/12
	}
	.host div{
		grid-column: 2/12;
	}
	#menico {
    right: 355px;
	}
	div.item-curso-colum1, div.item-curso-colum2{
		grid-column: 2/12;
		margin: 10px;
	}
	.head a[class|="icon"] i, div #menico i{
	font-size: 45px;
	}
	.head .logo a img{
	width: 45px;
	}
	.head .logo a img{
		margin-left: 25px;
	}
  body .seccion-1{
	padding-top: 62px;
	}
	div #menu-share{
		display: none;
	}
	.social-network ul{
		display: block;
	}
}
@media (max-width: 550px){
	.sect-1, .sect-2{
		grid-column: 1/-1
	}
	div.item-curso-colum2, div.item-curso-colum1{
		grid-column: 1/13;
		margin: 10px;
	}
	.icon-back{
		grid-column: 3/4;
	}
	.icon-home{
		grid-column: 6/7;
	}
	.icon-next{
		grid-column: 9/10;
	}
	.head .logo a img{
		margin-left: 15px;
	}
	.text-login{
		display: none;
	}
	div #menu-share{
		display: block;
                bottom: -20px;
	}
	.social-network ul{
		display: none;
	}
}
@media (max-width: 550px){
	.icon-home{
		grid-column: 5/8;
	}
}
@media (max-width: 396px){
	.blog h2{
		padding: 5px 15px;
	}
	.section-blog-princ p{
		font-size: 1.1rem;
	}
	section h1{
		font-size: 2.2em;
	}
	section .blog{
		padding: 20px;
	}
	.icon-login{
		display: none;
	}
	.icon-blog{
		display: none;
	}
	#menu .icon-login2, #menu #blog2{
		display: block;
	}
	#menu .icon-menu{
		left: 0;
	}
}
/*Barra de Navegación*/
.head {
	background-color: var(--color-head);
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	position: fixed;
}
.head:hover{
	box-shadow: 0 1px 2px rgba(255,255,255,0.3);
}
.social-network{
	position: absolute;
	top: 20vh;
}
.social img{
	width: 20px;
	padding: 10px 0;
	line-height: calc(60px - 6px)
}
.social {
	position: relative;
	background: #f1f1f1;
	display: block;
	width: 60px;
	height: 60px;
	box-shadow: 0 4px 3px rgba(255,255,255,0.3);
	border-radius: 50%;
	text-align: center;
	margin: 10px;
	transition: .5s;
	padding-top: 8px;
	background-image: linear-gradient(0deg, #ddd, #fff);

}
.social div{
	background-image: linear-gradient(0deg, #fff, #ddd);
	border-radius: 50%;
	width: 80%;
	height: 80%;
	margin: auto;
}
.social:hover{
	box-shadow: 0 13px 10px rgba(255,255,255,0.3);
}
#menu-share{
	position: absolute;
	bottom: -380px;
	left: 26px;
	cursor: pointer;
	display: none;
        transition-duration: 3s;
        
}
.items{
	font-size: 1.5em;
	padding: 8px;
	text-align: center;
	width: 90%;
	margin: auto;
}
.icon-login2, #blog2{
	display: none;
}
.text-login{
	float: right;
	margin-top: 12px;
	font-size: 1.3em;
}
.icon i, .icon-login2 i{
	padding-left: 150px;
}
.responsive img{
display: block;
margin: auto;
}
.items a{
 	color: #a5411d;
}

.logo a img{
	width: 60px;
	margin-top:6px;
	margin-bottom: 6px;
	margin-left: 40px;
}
a[class|="icon"], #menico{
	color:rgba(0, 119, 184, 1);
	margin: auto;
}
a[class|="icon"] i, #menico i{
	font-size: 55px;
}
a[class|="icon"]:hover, #menico:hover{
	color:rgba(0, 149, 230, 1);
}
#menu{
	position: fixed;
 	width: 350px;
 	height: 100%;
 	background: rgba(0, 0, 0, 0.7);
 	right: -350px;
 	transition: all 400ms ease;
}
#menu ul{
	margin-top: 2em;
}
#menico.active1{
	left: 10px;
	top: 15px;
}
#menu.active{
	right: 0;
}
#social-toggle.active3{
	display: block;
        transition: all 3s ease;
}
.items:hover{
	border-right: 6px solid #dd673c;
}
.items a:hover{
	color: #dd673c;
}
/*Seccion principal del blog*/
.blog{
	padding: 20px 30px;
	margin-bottom: 5px;
	background-color:rgba(59, 59, 59, 1);
	color: white;
	width: 100%;
	height: 380px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;

}
.boton2{
	width: 40%;
}
.boton2, .boton3{
	padding: 16px 8px;
	border-radius: 20px;
	text-align: center;
	color: rgba(127, 212, 104, 1);
	display: block;
	margin: auto;
}
.boton2:hover, .boton3:hover{
 background: #3fc700;
 box-shadow: 0 0 10px #3fc700, 0 0 40px #3fc700, 0 0 80px #3fc700;
 color: black;
 transition-duration: 0.6s;
}
a:hover{
	color:var(--color-a-hover);
}
.image-1-blog, .image-2-blog, .image-3-blog{
	background-size:cover;
	width: 100%;
	height: 380px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
.image-1-blog{
	background-image:url(../img/code.webp);
}
.image-2-blog{
	background-image:url(../img/child.webp);
}
.image-3-blog{
	background-image: url(../img/cyberspace.webp);
}

.contenido{
	margin: 0 auto;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.seccion, .seccion-1{
	padding-top: 75px;
}
/*sección de información del blog*/

.seccion, .blog-pri{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.host{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
.img-host{
	grid-column: 4/10;
}
/*Pie de página*/
.pie{
	background-color: var(--color-head);
	text-align: center;
}

.pie p{
	color: white;
	display: inline;
	font-size: 1em;
}

p a:hover{
	text-decoration: underline;
}

/*fuentes aplicadas a titulos y subtitulos*/
h1{
	color: #ddac3c;
	padding-bottom: 20px;
	padding-top: 15px;
	font-size: 2.8em;
}
h2{
	font-size: 2.5em;
	color:var(--color-h2);
	padding: 10px 20px 55px;
}
h1, h2, h3{
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
p, a, li {
	font-family: 'Open Sans', sans-serif;
}
p, li{
	color:rgba(173, 173, 173, 1);
	font-size: 1.2rem;
}
a{
	text-decoration: none;
	color:var(--color-a);
}
li, .contenido section div{
	list-style: none;
}
img{
	width: 100%;
}
/*Estilos de la página cursos*/
.seccion-cursos{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	padding-top: 100px;
}
.item-curso-colum1{
	grid-column: 2/7;
	margin: 5px 8px 5px 20px;
}
.item-curso-colum2{
	grid-column: 7/12;
	margin: 5px 20px 5px 0;
}

.img-cursos{
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
/*Boton de donaciones*/
.boton{
	width: 80%;
	padding: 16px 8px;
	border-radius: 20px;
	text-align: center;
	color: rgba(0, 119, 184, 1);
	letter-spacing: 7px;
	text-transform: uppercase;
	position: absolute;
	top: 70vh;
	right: 30px;
}
 .boton:hover{
	background: #2196f3;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
	color: black;
	transition-duration: 3s;
}
.boton img{
	width: 30px;
	margin: auto;
	display: block;
}
