*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}
:root{
	/*colore de los botones de navegacion y el borde*/
	/*--color:hsla(169, 59%, 0%, 0.10);*/
	--color:hsla(169, 0%, 68%, 0.23);
	--color-hover:hsla(169, 59%, 0%, 0.25);
	--color-head:#000;
	--color-h2:#d97978;
	--color-a:rgba(180, 194, 117, 0.9);
	--color-a-hover:rgba(0, 149, 230, 1);
	--color-backgorund:rgba(94, 94, 94, 1);
}
body{
	background: #000;
}
/*Grillas*/
.sect-1{
	grid-column: 2/8;
}
.sect-2{
	grid-column: 8/12;
}
.icon-back{
	grid-column: 4/5;
}
.icon-login{
	grid-column: 3/6;
}
.icon-home{
	grid-column: 5/9;
}
.icon-next{
	grid-column: 9/10;
}
.section-blog-princ{
	grid-column: 2/6;
}

#menico{
		position: absolute;
  	right: 380px;
  	top: 10px;
  	cursor: pointer;
}
.icon-blog{
	grid-column: 7/9;
	width: 50px;
	margin: auto;
}
/*Media query*/
@media (min-width: 1030px){
	.sect-1{
		grid-column: 3/7;
	}
	.sect-2{
		grid-column: 7/11;
	}
}
@media (max-width: 800px){
	.sect-1{
		grid-column: 1/9;
	}
	.sect-2{
		grid-column: 9/13;
	}
	.host div{
		grid-column: 3/11;
	}
	.section-blog-princ{
		grid-column: 1/7;
		width: 90%;
		margin: 0 auto;
	}
	div.item-curso-colum1{
		grid-column: 1/7;
	}
	div.item-curso-colum2{
		grid-column: 7/13;
	}
	.icon-login{
		grid-column: 3/7
	}
	.social-network ul{
		display: none;
    transition-duration: 3s;
	}
	div #menu-share{
		display: block;
		left: 10px;
		bottom: -60px;
	}
	.head .social-network{
		position: absolute;
		top: 40px;
	}
}
/*@media only screen and (max-width: 600px) and (min-width: 400px)  {...}*/
@media (max-width: 640px){
	.sect-1{
		grid-column: 2/12;
		grid-template-rows: 200px;
	}
	.sect-2{
		grid-column: 2/12
	}
	.host div{
		grid-column: 2/12;
	}
	div #menico {
    top: 2px;
    right: 355px;
	}
	div.item-curso-colum1, div.item-curso-colum2{
		grid-column: 2/12;
		margin: 10px;
	}
	.head a[class|="icon"] svg, div #menico i{
	font-size: 30px;
	}
	.head .logo a img{
	width: 30px;
	}
	.head .logo a img{
		margin-left: 25px;
	}
  body .seccion-1{
	padding-top: 62px;
	}
	div #menu-share{
		display: none;
	}
	.social-network ul{
		display: block;
	}
	.head .social-network{
		left: 5px;
	}
}
@media (max-width: 550px){
	.sect-1, .sect-2{
		grid-column: 1/-1
	}
	div.item-curso-colum2, div.item-curso-colum1{
		grid-column: 1/13;
		margin: 10px;
	}
	.icon-back{
		grid-column: 3/4;
	}
	.icon-home{
		grid-column: 6/7;
	}
	.icon-next{
		grid-column: 9/10;
	}
	.head .logo a img{
		margin-left: 15px;
	}
	.text-login{
		display: none;
	}
	div #menu-share{
		display: block;
    bottom: -50px;
	}
	.social-network ul{
		display: none;
	}
	.head .social-network{
		left: 0;
	}
	#viral{
		width: 90%
	}
}
@media (max-width: 550px){
	.icon-home{
		grid-column: 5/8;
	}
}
@media (max-width: 396px){
	.blog h2{
		padding: 5px 15px;
	}
	.section-blog-princ p{
		font-size: 1.3rem;
	}
	section .blog{
		padding-left: 25px;
		padding-right: 25px
	}
	.icon-login{
		display: none;
	}
	.icon-blog{
		display: none;
	}
	#menu .icon-login2, #menu #blog2{
		display: block;
	}
	#menu .icon-menu{
		left: 0;
	}
}
/*Barra de Navegación*/
.head {
	background-color: var(--color-head);
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	position: fixed;
  z-index:1;
}
.logo img{
	border-radius: 0;
}
.social-network{
	position: absolute;
	top: 150px;
	left: 10px;
}
.social img{
	width: 20px;
	padding: 10px 0;
	line-height: calc(60px - 6px)
}
.social {
	position: relative;
	background: #f1f1f1;
	display: block;
	width: 60px;
	height: 60px;
	box-shadow: 0 4px 3px rgba(255,255,255,0.3);
	border-radius: 50%;
	text-align: center;
	margin-top: 40px;
	transition: .5s;
	padding-top: 8px;
	background-image: linear-gradient(0deg, #858585, #ababab);

}
.social div{
	background-image: linear-gradient(0deg, #ababab, #858585);
	border-radius: 50%;
	width: 80%;
	height: 80%;
	margin: auto;
}
.social:hover{
	box-shadow: 0 13px 10px rgba(255,255,255,0.3);
}
#menu-share{
	position: absolute;
	bottom: -380px;
	left: 25px;
	cursor: pointer;
	display: none;
  transition-duration: 5s;
  font-size: 2rem;
}
#menu-share svg{
  font-size: 40px;
}
.items{
	font-size: 1.5em;
	padding: 8px;
	text-align: center;
	width: 90%;
	margin: auto;
}
.icon-login2, #blog2{
	display: none;
}
.text-login{
	float: right;
	margin-top: 12px;
	font-size: 1.2em;
}
.icon , .icon-login2, .icon-login3{
text-align: center;
}
.icon-login3{
	display: block;
}
.logo a img{
	width: 40px;
	margin-top:6px;
	margin-bottom: 6px;
	margin-left: 40px;
}
a[class|="icon"], #menico{
	color:rgba(0, 119, 184, 1);
	margin: auto;
}
a[class|="icon"] svg, #menico svg{
	font-size: 35px;
}
a[class|="icon"]:hover, #menico:hover{
	color:rgba(0, 149, 230, 1);
}
#menu{
	position: fixed;
 	width: 350px;
 	height: 100%;
 	background: rgba(0, 0, 0, 0.7);
  backdrop-filter:blur(5px) brightness(200%);
	-webkit-backdrop-filter:blur(5px);
 	right: -350px;
 	transition: all 400ms ease;
}
#menu ul{
	margin-top: 15px;
}
#menico.active1{
	left: 10px;
	top: 15px;
}
#menu.active{
	right: 0;
}
#social-toggle.active3{
	display: block;
  transition-duration: 5s;
}
.items:hover{
	border-right: 6px solid #dd673c;
}
.items a:hover{
	color: #dd673c;
}
/*Seccion principal del blog*/
.blog{
	padding: 20px 50px;
	margin-bottom: 5px;
  background: linear-gradient(to bottom, #000, rgba(25, 73, 103, 0.78));
	color: white;
	width: 100%;
	height: 570px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 100px;

}

.boton2:hover{
	background: #3fc700;
	box-shadow: 0 0 10px #3fc700, 0 0 40px #3fc700, 0 0 80px #3fc700;
}
.boton3:hover{
	background: #c72800;
	box-shadow: 0 0 10px #c72800, 0 0 40px #c72800, 0 0 80px #c72800;
}
.boton2, .boton3{
	padding: 16px 8px;
	border-radius: 20px;
	text-align: center;
	color: var(--color-a);
	display: block;
	margin: auto;
	width: 40%;
}
.boton2:hover, .boton3:hover{
 color: black;
 transition-duration: 1s;
}
a:hover{
	color:var(--color-a-hover);
}
.image-1-blog, .image-2-blog, .image-3-blog{
	background-size:cover;
	width: 100%;
	height: 570px;
}
.image-1-blog{
	background-image: url(../img/portada1.webp);
}
.image-2-blog{
	background-image:url(../img/portada2.webp);
}
.image-3-blog{
	background-image: url(../img/portada3.webp);
}

.contenido{
	margin: 0 auto;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.seccion, .seccion-1{
	padding-top: 75px;
}

.sun{
	position: absolute;
	bottom: -85vh;
	right: 0;
}
/*sección de información del blog*/

.seccion, .blog-pri{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}
.viral-you{
	width: 60%;
	margin: 20px auto;
	padding: 20px;
	border: 4px solid #69a2b5;
	border-radius: 10px;
}
.host{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
.img-host{
	grid-column: 4/10;
}
/*Pie de página*/
.pie{
	background-color: var(--color-head);
	text-align: center;
}

.pie p{
	color: white;
	display: inline;
	font-size: 1em;
}
.pie a{
	color: white;
}

p a:hover{
	text-decoration: underline;
}

/*fuentes aplicadas a titulos y subtitulos*/
h1{
	color: #ec8386;
	padding-bottom: 20px;
	padding-top: 15px;
	font-size: 3em;
}
h2{
	font-size: 3.6em;
	color:var(--color-h2);
	padding: 10px 20px 40px;
}
h1, h2, h3, h4{
 font-family: 'Ubuntu', sans-serif;
 text-align: center;
}
h3{
	font-size: 3em;
	color: #69a2b5;
}
h4{
	font-size: 2rem;
	color: #638c26;
	text-align: left;
}
p, a, li {
	font-family: 'Open Sans', sans-serif;
}
p, li{
	color:rgba(255, 255, 255, 1);
	font-size: 1.4rem;
}
a{
	text-decoration: none;
	color:var(--color-a);
}
li, .contenido section div{
	list-style: none;
}
img{
	width: 100%;
	border-radius: 15px;
	-webkit-filter: brightness(90%);
	filter: brightness(90%);
 }

.brillo{
	-webkit-filter: brightness(60%);
	filter: brightness(60%);
	z-index: -10;
}
/*Estilos de la página cursos*/
.seccion-cursos{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	padding-top: 100px;
}
.item-curso-colum1{
	grid-column: 2/7;
	margin: 5px 8px 5px 20px;
}
.item-curso-colum2{
	grid-column: 7/12;
	margin: 5px 20px 5px 0;
}

.img-cursos{
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
/* #loader{
	width: 100px;
	height: 100px;
	margin: auto;
}
.loader-div{
	width: calc(100% - .5px);
	height: calc(100% - .5px);
	border: 3px solid #000;
	border-top: 3px solid #2c440d;
	border-radius: 50%;
	animation: rotate 100s linear infinite;
}
@keyframes rotate {
	100%{transform: rotate(360deg);}
} */
/*Boton de donaciones*/
.boton{
	width: 30%;
	border-radius: 20px;
	text-align: center;
	letter-spacing: 7px;
	text-transform: uppercase;
	position: absolute;
	top: 480px;
	right: 120px;
	padding-top: 10px;
}
 .boton:hover{
	background: #2196f3;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
	color: black;
	transition-duration: 3s;
}
.boton img{
	width: 30px;
	margin: auto;
	display: block;
}
