*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}
:root{
	/*colore de los botones de navegacion y el borde*/
	/*--color:hsla(169, 59%, 0%, 0.10);*/
	--color:hsla(169, 0%, 68%, 0.23);
	--color-hover:hsla(169, 59%, 0%, 0.25);
<<<<<<< HEAD
	--color-head:rgba(0, 0, 0, 0.1);
=======
	--color-head:rgba(0, 0, 0, 0.5);
>>>>>>> a65a3fc4d7c5b91b6e91a56de8031878bdb69c44
	--color-h2:#b054a7;
	--color-a: rgba(70, 124, 175, 1);
	--color-a-hover:rgba(0, 149, 230, 1);
	--color-backgorund:rgba(94, 94, 94, 1);
}
body{
	background: #000;
}
/*Grillas*/
.sect-1{
	grid-column: 1/6;
}
.sect-2{
	grid-column: 6/13;
}
.sect-3{
	grid-column: 1/8;
}
.sect-4{
	grid-column: 8/13;
}

.icon-back{
	grid-column: 4/5;
}

.icon-login {
	grid-column: 3/6;
	border-radius: 8px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background: rgba(0, 0, 0, 0.8);
	padding-right: 5px;
}
.icon-logina{
	grid-column: 5/6;

}
.icon-home{
	grid-column: 5/9;
}
.icon-next{
	grid-column: 9/10;
}
.section-blog-princ{
	grid-column: 2/6;
	margin: 0 auto;
}

#menico{
		position: absolute;
  	right: 380px;
  	top: 10px;
  	cursor: pointer;
}
.icon-blog{
	grid-column: 7/9;
	width: 50px;
	text-align: center;
}
/*Media query*/

@media (max-width: 800px){
	.host div{
		grid-column: 3/11;
	}
	.section-blog-princ{
		grid-column: 1/7;
		width: 95%;
		margin: 0 auto;
	}
	div.item-curso-colum1{
		grid-column: 1/7;
	}
	div.item-curso-colum2{
		grid-column: 7/13;
	}

	.icon-login{
		grid-column: 3/7
	}
	.icon-logina{
		grid-column: 5/7
	}
	div #menu-share{
		display: block;
		bottom: -60px;
	}
	.head .social-network{
		position: absolute;
		top: 40px;
	}
	div.imagen1{
		grid-column: 11/12;
		height: 250px;
		width: 250px
	}
	div.imagen2{
		background-size: 90%;
	}
	div.imagen3{
		grid-column: 3/4;
	}
	#viral{
		width: 60%
	}
	div .portada{
		height: 100vh;
		width: 100%;
	}
}
/*@media only screen and (max-width: 600px) and (min-width: 400px)  {...}*/
@media (max-width: 640px){
	.host div{
		grid-column: 2/12;
	}
	div #menico {
    top: 2px;
    right: 355px;
	}
	div.item-curso-colum1, div.item-curso-colum2{
		grid-column: 2/12;
		margin: 10px;
	}
	.head .logo a img{
	width: 30px;
	}
	.head .logo a img{
		margin-left: 25px;
	}
  body .seccion-1{
	padding-top: 62px;
	}
	div #menu-share{
		display: none;
	}

	div.imagen2{
		margin-top: 0;
    margin-left:0;
    background-size:150%;
	}
	div.imagen1{
		grid-column: 5/13;
		height: 300px;
		width: 300px;
		margin-top: auto;
	}
	div.imagen3{
    grid-column:3/4;
		height: 60px;
		width: 60px;
	}
	header .download{
		left: 40vw;
	}
	#viral{
		width: 70%
	}
}
@media (max-width: 550px){
	.sect-1,.sect-2, .sect-3, .sect-4{
		grid-column: 1/13;
	}
	.contenido {
	  display: flex;
	}

	.contenido > * {
	  order: 0;
	}

	.sect-2{
	 order: 1;
	}

	.sect-1 {
	 order: 2;
	}
	div.item-curso-colum2, div.item-curso-colum1{
		grid-column: 1/13;
		margin: 10px;
	}
	.icon-next{
		grid-column: 9/10;
	}
	.head .logo a img{
		margin-left: 15px;
	}
	.text-login{
		display: none;
	}
	.icon-login{
		border: none
	}
	div #menu-share{
		display: block;
    bottom: -50px;
	}
	.social-network ul{
		display: none;
	}
	.head .social-network{
		left: 15px;
	}
	#viral{
		width: 90%
	}
	.icon-blog{
		grid-column: 9/10;
	}
	 #content{
		border: none;
	}
	header .download{
		top: -5vh;
	}
}
@media (max-width: 550px){
	div.imagen1{
		margin-top: auto;
		height: 250px;
		width: 250px;
		grid-column: 2/13;
	}
	header .download{
		left: 37vw;
	}

	.head .social-network{
		top: -92vh;
	}
	nav .sun{
		display: none;
	}
	#menu{
		top: 0;
	}
	div #menico{
		top: 93vh;

	}
	header .head{
		background: black;
		bottom: 0;
		height: 40px;
	}
	#logoC{
		margin: 3px 10px;
	}
}
@media (max-width: 396px){
	.blog h2{
		padding: 5px 15px;
	}
	.section-blog-princ p{
		font-size: 1.2rem;
	}

	.icon-login, #loginLook{
		display: none;
	}
	.icon-blog{
		display: none;
	}
	#menu .icon-login2, #menu #blog2{
		display: block;
	}
	#menu .icon-menu{
		left: 0;
	}
	header .download{
		left: 32vw;
	}
	div #menico{
		top: 93vh;
	}
	div .portada{
		height: 100vh;
		width: 80%;
		margin-left:10%;

	}

}
/*Barra de Navegación*/
.head {
	background-color: var(--color-head);
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	position: fixed;
	z-index: 10;
}
.imagen2{
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	width: 100%;
	background-image: url(../img/nebula.webp);
	background-size: 50%;
	margin:auto;
	padding-top: 40px;
}
.imagen3{
	margin: auto;
	background-image: url(../img/rocket.svg);
	grid-column: 8/9;
	height: 60px;
	width: 60px;
}
.imagen1{
	background-image: url(../img/world.webp);
	grid-column: 11/12;
	height: 400px;
	width: 400px;
	background-size:cover;
	margin: auto;
}

.imagen1, .imagen2, .imagen3{
	background-repeat: no-repeat;
}
.portada{
	position: absolute;
	height: 100vh;
	width: 55vw;
}
.portada p{
	display: block;
	width: 100%;
	margin-top:55vh;
	font-size: 50px;
}
.portada span{
	display:block;
	color:white;
	text-align: center;
	margin-top: 15px;
}
.logo img{
	border-radius: 0;
}

.social-network{
	position: absolute;
	top: 50px;
	left: 25px;
}
.social img{
	width: 15px;
	margin: auto;
	border-radius: 0;
	display: block;
}
.social {
	position: relative;
	background: rgba(241, 241, 241, 0.3);
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	margin-top: 40px;
	transition: .5s;
	padding-top: 8px;
	background-image: linear-gradient(0deg, rgba(133, 133, 133, 0.3), rgba(171, 171, 171, 0.2));

}
.social div{
	background-image: linear-gradient(0deg, rgba(171, 171, 171, 0.2), rgba(133, 133, 133, 0.3));
	border-radius: 50%;
	width: 80%;
	height: 80%;
	margin: auto;
}
.social:hover{
	box-shadow: 0 13px 10px rgba(255,255,255,0.2);
}
#menu-share{
	position: absolute;
	bottom: -380px;
	left: 0;
	cursor: pointer;
	display: none;
  transition-duration: 5s;
  font-size: 1.5rem;
}
#menu-share svg{
  font-size: 40px;
}
.items{
	font-size: 1.5em;
	padding: 8px;
	text-align: center;
	width: 90%;
	margin: auto;
}
.icon-login2, #blog2{
	display: none;
}
.text-login{
	float: right;
	margin-top: 8px;
	font-size: 1.1em;
}
.icon , .icon-login2, .icon-login3{
text-align: center;
}
.icon-login3{
	display: block;
}
.logo a img{
	width: 40px;
	margin-top:6px;
	margin-bottom: 6px;
	margin-left: 20px;
}
a[class|="icon"], #menico{
	color:rgba(0, 119, 184, 1);
	margin: auto;
}
a[class|="icon"] svg, #menico svg{
	font-size: 35px;
}
a[class|="icon"]:hover, #menico:hover{
	color:rgba(0, 149, 230, 1);
}
#menu{
	position: fixed;
 	width: 350px;
 	height: 100%;
 	background: rgba(18, 18, 18, 0.9);
  backdrop-filter:blur(5px) brightness(200%);
	-webkit-backdrop-filter:blur(5px);
 	right: -350px;
 	transition: all 400ms ease;
	text-align: center;
}
#menu ul{
	margin-top: 15px;
}

#menico.active1{
	left: 10px;
}
#menu.active{
	right: 0;
}
#social-toggle.active3{
	display: block;
  transition-duration: 5s;
}
.items:hover{
	border-right: 6px solid #dd673c;
}
.items a:hover{
	color: #dd673c;
}
/*Seccion principal del blog*/
.blog{
	padding: 40px 0;
	margin-bottom: 5px;
	color: white;
	width: 100%;
	height: 100vh;
}
.boton4{
	color: #606566;
}
 .blog p, .blog h2{
	 color: white;
 }
section .blog p{
	display: block;
	width: 70%;
	margin: auto;
}
.boton4:hover{
	background: #dd3647;
	color: white;
	transition-duration: 1s;
}
.boton2:hover{
	background: #3fc700;
	box-shadow: 0 0 10px #3fc700, 0 0 40px #3fc700, 0 0 80px #3fc700;
}
.boton3:hover{
	background: #c72800;
	box-shadow: 0 0 10px #c72800, 0 0 40px #c72800, 0 0 80px #c72800;
}
.boton2, .boton3, .boton4{
	padding: 16px 8px;
	border-radius: 20px;
	text-align: center;
	display: block;
	margin: auto;
	width: 40%;
}
.boton2:hover, .boton3:hover{
 color: black;
 transition-duration: 1s;
}
a:hover{
	color:var(--color-a-hover);
}
.image-1-blog, .image-2-blog, .image-3-blog{
	background-size:cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}
.image-1-blog{
	background-image: url(../img/code.webp);
}
.image-2-blog{
	background-image:url(../img/portada2.webp);
}
.image-3-blog{
	background-image: url(../img/portada3.webp);
}

.contenido{
	margin: 0 auto;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	border: 1px solid #192e28;
}

.seccion{
	padding-top: 75px;
}

.sun{
	position: absolute;
	bottom: -90vh;
	left: 18px;
}
/*sección de información del blog*/

.seccion, .blog-pri{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}
.viral-you{
	width: 50%;
	margin: 20px auto;
	padding: 25px;
	border: 2px solid #f43e3e;
	border-radius: 10px;
}
.host{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
.img-host{
	grid-column: 4/10;
}
.bienvenida{
	background-image: url(../img/bienvenido.webp);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
}
/*Pie de página*/
.pie{
	background-color: var(--color-head);
	text-align: center;
}

.pie p{
	display: inline;
	font-size: 1em;
}
.pie a{
	color: white;
}

p a:hover{
	text-decoration: underline;
}

/*fuentes aplicadas a titulos y subtitulos*/
h1{
	color: #7c9744;
	padding-bottom: 20px;
	padding-top: 15px;
	font-size: 3em;
}
h2{
	font-size: 3.5em;
	color:var(--color-h2);
	padding: 10px 20px 40px;
}
h1, h2, h3, h4, .portada p{
 font-family: 'Ubuntu', sans-serif;
 text-align: center;
}
h3{
	font-size: 3em;
	color: #f43e3e;
}
h4{
	font-size: 2rem;
	color: #638c26;
	text-align: left;
}
p, a, li, span {
	font-family: 'Roboto', sans-serif;
}
p, li{
	color:rgba(255, 255, 255, 1);
	font-size: 1.3rem;
	word-spacing: 2pt;
	line-height: 28pt;
}
a{
	text-decoration: none;
	color:var(--color-a);
}
li, .contenido section div{
	list-style: none;
}
.flecha{
	font-size: 2em;
}
img{
	width: 100%;
	border-radius: 15px;
	-webkit-filter: brightness(90%);
	filter: brightness(90%);
 }

.brillo{
	-webkit-filter: brightness(70%);
	filter: brightness(70%);
}
/*Estilos de la página cursos*/
.seccion-cursos{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	padding-top: 100px;
}
.item-curso-colum1{
	grid-column: 2/7;
	margin: 5px 8px 5px 20px;
}
.item-curso-colum2{
	grid-column: 7/12;
	margin: 5px 20px 5px 0;
}
.items-inf{
	background-color: #292929;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
	padding: 20px;
}
.img-cursos{
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.boton{
	width: 30%;
	border-radius: 20px;
	text-align: center;
	letter-spacing: 7px;
	text-transform: uppercase;
	position: absolute;
	top: 480px;
	right: 120px;
	padding-top: 10px;
}
 .boton:hover{
	background: #2196f3;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
	color: black;
	transition-duration: 3s;
}
.boton img{
	width: 30px;
	margin: auto;
	display: block;
}

/* libros */
.libro1, .libro2, .libro3, .libro4{
	margin: auto;
	height: 400px;
	width: 250px;
	background-size: cover;
	border: 1px solid grey;
}
.libro1{
	background-image: url(../img/libro1.webp);
}
.libro2{
	background-image: url(../img/libro2.webp);
}
.libro3{
	background-image: url(../img/libro3.webp);
}
.libro4{
	background-image: url(../img/libro4.webp);
}
.download{
	position: absolute;
	bottom: -90vh;
	left: 43vw;
	z-index: -10;
}
.download a{
	color: #57ff8c;
}
